nav ul li .active {
    font-weight: bold;
    color: rgb(255, 66, 66) !important; /* Example active link color */
  }

  li:hover{
    /* font-weight: bold; */
    color: rgb(255, 66, 66); /* Example active link color */
}
  